.catalog-filter__top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 10px;
    background-color: #fff;
}

.catalog-filter__item{
    margin-bottom: 10px;
    padding: 25px;
    background-color: #fff;
}

