footer
    .footer-top
        .footer-top__inner
            .footer-top__left
                .footer-top__map
            .footer-top__center
                .footer-top__company
                    h4.footer-top__title Компания
                    ul.footer-nav.default-list
                        li
                            a(href="#").footer-nav__link Акции
                        li
                            a(href="#").footer-nav__link О компании
                        li
                            a(href="#").footer-nav__link Услуги
                        li
                            a(href="#").footer-nav__link Доставка
                        li
                            a(href="#").footer-nav__link Контакты
                        li
                            a(href="#").footer-nav__link Отзывы
            .footer-top__right
                .footer-top__subscribe
                    h4.footer-top__title Подписаться на рассылку
                    .form-subscribe
                        .form-subscribe__form-control
                            input.form-subscribe__input(placeholder='Введите ваш e-mail')
                        button.form-subscribe__btn Подписаться
                .footer-top__social
                    h4.footer-top__title Мы в социальных сетях
                    ul.list-social
                        li
                            a(href="#").list-social__link i
                        li
                            a(href="#").list-social__link i
                        li
                            a(href="#").list-social__link i
                        li
                            a(href="#").list-social__link i
    .footer-bottom
        .footer-bottom__inner
            .footer-bottom__left
                a(href="#").footer-logo
                    img(src="img/index/logo.svg", alt="logo").footer-logo__img
                span © Copyright «Строительная база УПТК», 2017
            .footer-bottom__right
                span Создание сайта:
                a(href="#").logo-zeppelin
                    img(src="img/index/logo-zeppelin.svg", alt="logo").logo-zeppelin__img
