header
    .header-top
        .header-top__container
            .header-top__container--left
                span Регион:
                span.header-top__location Казань
            .header-top__container--right
                a(href="#").header-top__link Вход
                a(href="#").header-top__link.header-top__link--signup Регистрация
    .header-bottom
        .header-bottom__container
            a(href="#").header-logo
                img(src="img/index/logo.svg", alt="logo").header-logo__img
                .header-logo__title
                    h1 УПТК
                    span Строительная база
            .header-catalog
                .header-catalog__box Каталог
            .header-feedback
                .header-feedback__text Есть вопрос, звоните!
                a(href="tel:88005005050").header-feedback__phone 8 800 500 50 50
            .header-search
                .header-search__form-control
                    input.header-search__input(placeholder="Поиск")
                button.header-search__btn Найти
