body{
    margin: 0 0 618px 0;
}

.body-gray{
    background-color: rgba(22,32,43, .1);
}

.container{
    width: $screen-w;
    margin: 0 auto;
    padding: 0 80px;
}

.container-title{
    margin: 0 0 50px 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.container__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.container-left{
    width: 296px;
}

.container-right{
    width: 960px;
}
